:root{
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: chocolate;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 10vh 10vh 80vh;
}
.header{
    background-color: white;
    grid-column: 2/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:start;
    img{
        width: 20px;
        height: 20px;
    }
}
.laotramrd{
    width: 30%;
    height: 63px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 17px;
    background-color: white;
    .mico{
        border-radius: 50%;
        height: 35px;
        width: 35px;
        background-color: rgb(218, 216, 216);
    }
    .campana{
        background-color: white;
    }
    font-weight: bold;
}
.imagenyeso{
    padding-left: 30px;
    gap: 10px;
    width: 70%;
    height: 63px;
    display: flex;
    flex-direction: row;
    align-items: center;
    input{
        height: 25px;
        width: clamp(300px, 650px, 650px);
        border-radius: 25px;
        border: none;
        background-color:oklch(92.8% 0.006 264.531); ;
    }
}
.scndheader{
    background-color: white;
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:start;
    img{
        width: 20px;
        height: 20px;
    }
    .micodos{
        border-radius: 50%;
        height: 50px;
        width: 50px;
        background-color:oklch(92.8% 0.006 264.531);
    }
    
}
.zweihead{
    padding-left: 40px;
    padding-bottom: 20px;
    gap: 15px;
    width: 60%;
    height: 63px;
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
        font-size: 20px;
        font-weight: bold;
    }
    span{
        font-size: 10px;
    }
}

.zweiheaddos{
    width: 40%;
    height: 63px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
    button{
        border-radius: 25px;
        height: 25px;
        width: 70px;
        border:none;
        background-color: rgb(0, 153, 255);
        color: white;
        :hover{
            cursor: pointer;
        }
        font-weight: bold;
    }
}
.sidebar{
    background-color: rgb(0, 153, 255);;
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 300px 400px;
    color: white;
    font-weight: bold;
    
}
.dashboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0, 153, 255);
    grid-column: 1;
    grid-row: 1;
    padding-left: 10px;
    padding-top: 10px;
    gap: 10px;
    img{
        width: 40px;
        height: 40px;
    }
    p{
        font-size: 25px;  
    }
    :hover{
        cursor: pointer;
    }
}
.mitaddashboard{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20px; 
    
    grid-column: 1;
    grid-row: 2;
    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 16px;
        list-style: none;
        :hover{
        cursor: pointer;
        text-decoration: underline;
        }
    }
    li {
        background-repeat: no-repeat;
        background-position: left center;
        margin-bottom: 10px;
        display: flex;
        gap: 15px;
        
    }
    img{
        width: 20px;
        height: 20px;
    
    }
    
}
.finaldashboard{
    display: flex;
    align-items: start;
    justify-content: start;
    padding-left: 20px; 
    
    grid-column: 1;
    grid-row: 3;
    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 16px;
        list-style: none;
        :hover{
        cursor: pointer;
        text-decoration: underline;
        }
    }
    li {
        background-repeat: no-repeat;
        background-position: left center;
        margin-bottom: 10px;
        display: flex;
        gap: 15px;
        
    }
    img{
        width: 20px;
        height: 20px;
    }
}
.content{
    background-color: oklch(92.8% 0.006 264.531);
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 30px repeat(3, 155px);
    grid-row: 3/3;
    img{
        width: 20px;
        height: 20px;
    }
    
    .imagenes{
        display: flex;
        justify-content: end;
        margin-right: 10px;
        gap: 15px;
        :hover{
        cursor: pointer;
        
        }
    }
}
.solo{
    grid-column: 1/3;
    grid-row: 1;
    
    display: flex;
    justify-content: start;
    align-items: end;
    font-weight: bold;
    margin-left: 10px;
}
.eins{
    grid-column: 1/2;
    grid-row: 2/3;
}
.cuadro{
    border-radius: 5px;
    background-color:white;
    margin: 10px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 40px;
    p{
        color: gray;
        font-size: 10px;
    }
    span{
        font-weight: bold;
        color: black;
        font-size: 20px;
    }
    .lostextos{
        display: flex;
        align-items: center;
        margin: 10px;
    }
    box-shadow: 0 7px 2px -1px lightgray;
    border-left: 5px solid rgb(235, 172, 14);
}

.sidebardos{
    background-color: oklch(92.8% 0.006 264.531);
    grid-column: 3/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 200px 40px 200px;
    color: black;
    font-weight: bold;
}
.textoarriba{
    grid-row: 1;
    display: flex;
    align-items: end;
    justify-content: start;
}
.announcements{
    margin-top: 10px;
    grid-row: 2;
    color: gray;
    background-color: white;
    height: 200px;
    border-radius: 5px;
    margin-right: 50px;
    box-shadow: 0 7px 2px -1px lightgray;
    font-size: 10px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span{
        font-weight: bold;
        font-size: 12px;
        color: black;
    }
    div{
        margin: 8px;
        display: flex;
        height: 50px;
        justify-content: center;
        border-bottom: 1px solid lightgray;
    }
    .bua{
        border: none;
    }
}
.textoabajo{
    grid-row: 3;
    display: flex;
    align-items: end;
    justify-content: start;
}
.trending{
    margin-top: 10px;
    font-weight: normal;
    color: gray;
    grid-row: 4;
    background-color: white;
    height: 200px;
    border-radius: 5px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 7px 2px -1px lightgray;
    span{
        font-weight: bold;
        color: black;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 12px;
        list-style: none;
    }
    li {
        background-repeat: no-repeat;
        background-position: left center;
        margin-bottom: 10px;
        display: flex;
        gap: 15px;
    }
    img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}
